@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    font-family: 'Merriweather', serif;
}

.my-flix {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6em;
    padding: 4em;
}